meancalc=Example program that takes all arguments as integers and spits out the mean/average
recycle=Utility to recursively help you clean up your cluttered folders
sixfour=Encode and decode files in base64 encoding format
